{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "importOrder": [
    "^pages/(.*)$",
    "^components/(.*)$",
    "^utils/(.*)$",
    "^ui-elements/(.*)$",
    "^styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
