.earthScene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: -1;

  // height: 100%;
  // height: calc(500px + (1000 - 500) * ((100vw - 390px) / (1920 - 390)));
  @media (max-width: 1000px) {
    height: calc(100vw /1.1);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  .plyer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    // color: #fcfc5f;
  }
}