@import "./variables.scss";
@import "./normalize.scss";

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.eot);
  src: url(./fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Roboto-Regular.otf) format('otf'),
    url(./fonts/Roboto-Regular.svg#Roboto-Regular) format('svg'),
    url(./fonts/Roboto-Regular.ttf) format('truetype'),
    url(./fonts/Roboto-Regular.woff) format('woff'),
    url(./fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Medium.eot);
  src: url(./fonts/Roboto-Medium.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Roboto-Medium.woff2) format('woff2'),
    url(./fonts/Roboto-Medium.woff) format('woff'),
    url(./fonts/Roboto-Medium.ttf) format('truetype'),
    url(./fonts/Roboto-Medium.svg#Roboto-Medium) format('svg'),
    url(./fonts/Roboto-Medium.otf) format('otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Bold.eot);
  src: url(./fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
    url(./fonts/Roboto-Bold.otf) format('otf'),
    url(./fonts/Roboto-Bold.svg#Roboto-Bold) format('svg'),
    url(./fonts/Roboto-Bold.ttf) format('truetype'),
    url(./fonts/Roboto-Bold.woff) format('woff'),
    url(./fonts/Roboto-Bold.woff2) format('woff2');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: transparent;
  font-weight: 600;
  color: $whiteText;
}

h2 {
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (2500 - 320)));
  font-weight: bold;
  background: $mainGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  width: fit-content;
  margin: 0 auto 10px;
  filter: drop-shadow(0px 0px 5px #000);
  -webkit-filter: drop-shadow(0px 0px 5px #000);
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  color: $whiteText;
  margin: 0 auto;
  padding: 1vw;
  padding-top: calc(70px + (100 - 70) * ((100vw - 320px) / (2500 - 320)));;
}