.header {
  height: calc(70px + (100 - 70) * ((100vw - 320px) / (2500 - 320)));
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  backdrop-filter: blur(10px);
  padding: 10px;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;

  .brain {
    z-index: 1;
    position: relative;
    width: 3vw;
  }

  .authorization {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  .user img {
    width: 30px;
    height: 30px;
  }
}