.player {
  position: fixed;
  bottom: 10px;
  right: 10px;

  button {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (2500 - 320)));
  }

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}