.player {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;

  button {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (2500 - 320)));
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    aspect-ratio: 1/1;
    width: auto;
  }

  .musicNote {
    width: 100%;
    line-height: 0;
  }

}