.skillsContainer {

  .skillTitle {
    text-align: center;
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (2500 - 320)));
    margin-bottom: 10px;
  }

  .skillsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .skill {
    border-right: 2px solid #71F2F2;
    border-bottom: 1px solid #71F2F2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px;
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    position: relative;
    aspect-ratio: 1/1;
    // column-break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 20px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    li {
      font-weight: normal;
    }

    .icon {
      position: absolute;
      inset: 20%;
      pointer-events: none;

      svg {
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
        // height: 100%;
        object-fit: contain;
        object-position: center;
        fill: #71F2F2;
        opacity: 0.05;
      }
    }

    iframe {
      width: 100%;
      height: auto;
    }

  }


  // .skillsList {
  //   display: flex;
  //   flex-wrap: wrap;
  //   gap: 5px;
  //   justify-content: center;

  //   li {
  //     border: 1px solid white;
  //     padding: 0 5px;
  //     border-radius: 8px;
  //     -webkit-border-radius: 8px;
  //     -moz-border-radius: 8px;
  //     -ms-border-radius: 8px;
  //     -o-border-radius: 8px;
  //     backdrop-filter: blur(5px);
  //     font-weight: 600;
  //     font-size: $mainFontSiza;
  //   }
  // }

}