@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

@layer base {
  :root {
    --mainBg: #000000;
    --textColor: #e8e8e8;
    --grayText: #d7d7d7;
    --red: #ff0000;
    --blue: #01b9ff;
    --opacityBlue: #00b7ff80;
    --opacityRed: #ff000080;
    --opacityBlue01: #00b7ff2f;
    --opacityRed01: #ff00002f;
    --white: #ffffff;
    --opacityWhite: #ffffff80;
    --buttonBg: #000000;
    --borderColor: #ffffff20;
  }
}

@layer components {
  h1 {
    @apply text-xl font-bold md:text-3xl lg:text-4xl;
  }

  h2 {
    @apply mx-auto w-fit bg-gradient-to-r from-blue to-red bg-clip-text text-lg font-bold text-transparent md:text-2xl lg:text-3xl;
  }

  h3 {
    @apply text-base font-bold md:text-xl lg:text-2xl;
  }

  h4 {
    @apply text-base font-bold md:text-lg lg:text-xl;
  }

  h5 {
    @apply text-base font-bold md:text-base lg:text-lg;
  }

  h6 {
    @apply text-base font-bold;
  }

  p {
    @apply inline-block gap-1 text-xs text-grayText drop-shadow-md md:text-sm lg:text-base;
    a,
    button {
      @apply inline-block px-1 text-blue;
    }
  }

  form {
    @apply flex w-full flex-col gap-2;
  }

  input,
  textarea {
    @apply bg-transparent outline-none;
  }
} 
